language: python

python:
- 3.6
- 3.7

dist: xenial

sudo: true

services:
- mysql

install:
- pip install --upgrade pip
- pip install flake8 coverage codecov tox-travis

before_script:
- flake8 django_crypto_fields
- mysql -e 'create database edc character set utf8;'

script:
- coverage run -m tox

after_success:
- codecov

matrix:
  include:
    - python: 3.6
      env: TOXENV=py36-django21
    - python: 3.6
      env: TOXENV=py36-django22
    - python: 3.7
      env: TOXENV=py37-django21
    - python: 3.7
      env: TOXENV=py37-django22
;    - python: 3.7
;      env: TOXENV=py37-djangotrunk
