# see README if problems with pycrypto
Django
django_extensions==1.6.1
Unipath
pycrypto
mysqlclient
git+https://github.com/erikvw/edc-base@develop#egg=edc_base
git+https://github.com/erikvw/django-revision@develop#egg=django-revision
